#upnfetch{
    height:600px;
    border-radius: 25px;
    width:1400px;
    margin: auto;
    margin-top: 20px;
    background-image:url("BACKGROUND.png");
    background-size: 400px;
    text-align: center;
}
.material
{
    font-size: xxx-large;
    padding:30px;
    background-color: #f76c6c;
    margin: auto;
    border-radius: 25px;
}
select{
    position: relative;
    bottom:10px;
    text-align: left;
    border-radius: 25px;
    padding:15px;
    /* padding-right:  */
    margin-left:80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    background-color: #ffe667;
}
i{position: relative;
    top:2px;
    padding: 10px;
    margin-left: 20px;
    /* text-transform: lowercase; */
}
.gotopage{
    font-size:large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.yearsub{
    color: #ffe667;
}
.yearsub:hover{
  cursor: pointer;
}

option{
    text-align: left;
    font-size: medium;
    border-radius: 25px;
    background-color: #ffffff;
}
.option{
    display: inline;
}
label{background-color: #ffe667;
    color: black;
    width:40%;
    border-radius: 25px;
    padding: 3%;
    font-size: medium;
}
input{
    border-radius: 25px;
    padding: 1%;
    width:50%;
}
button{
    margin:auto;
background-color:#57b7eb;
color: rgb(255, 255, 255);
text-align: center;
padding: 10px;
border-radius: 25px;
}
button:hover {
background-color: #374785;
cursor: pointer;
}
#uploadingfile{
    /* background-color: #cf3838; */
    border-radius: 25px;
    padding: 1%;
    /* transition: display 2s; */
}